body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}

.container {
    background-color: #fff;
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
}

.slack-info {
    text-align: center;
}

.track {
    background-color: #0074d9;
    display: inline-block;
    padding: 8px;
    border-radius: 8px;
    color: #fff;
}

.time {
    font-weight: bolder;
    font-size: 24px;
}

.slack-info img {
    max-width: 100px;
    border-radius: 50%;
    margin-top: 10px;
}

.date-time {
    margin-top: 20px;
    text-align: center;
}

.github-link {
    text-align: center;
    margin-top: 20px;
}

a {
    text-decoration: none;
    color: #0074d9;
}

a:hover {
    text-decoration: underline;
}
